<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">

        <div :style="display">
            <ol>
                <li 
                v-for="item in lists.list1">
                    {{ item.key }}
                </li>
            </ol>
            <button
            v-on:click="Click1" 
            :style="margin_l">
            Transfer</button>
        </div>
    
        <div :style="display">
            <ol>
                <li 
                v-for="item in lists.list2">
                    {{ item.key }}
                </li>
            </ol>
            <button
            v-on:click="Click2" 
            :style="margin_l">
            Transfer</button>
        </div>

    </div>

    <script src="Vue.js"></script>
    
</body>
</html>