<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="L24.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="blocks">
        
        <div
            style="display: inline-block"
            v-for="block in blocks.count"
            v-if="blocks[`b-${block}`]">
            <div class="block">
                <div class="inner_b" 
                :style="randColor()">
            </div>
            </div>
            <input type="range" class="range" />            
        </div>

    </div>

    <script src="L24.js"></script>
</body>
</html>