* {
    margin: 0;
    padding: 0;
}

.block {
    width: 70px;
    height: 300px;
    border: 2px solid black;
    position: relative;
    top: 30px;
    margin-left: 40px;
}

.inner_b { 
    width: 70px;
    height: 30px;
    bottom: 0px;
    /* background-color: aqua; */
    position: absolute;
}

.range {
    margin-left: 40px;
    margin-top: 40px;
    width: 75px;
    cursor: pointer;
}